.title {
  text-align: center;
  color: #121ea0;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 70px 0 30px;
}

.title h2 {
  font-size: 2em;
  color: #000f38;
  text-transform: none;
  margin-top: 5px;
}